<html>
	<head>
	<link th:href="@{/css/styles.css}" rel="stylesheet">
	 <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
   background-image: url('https://mostaql.hsoubcdn.com/uploads/731518-VSteP-1592828109-5ef0a0cd5864e.png'); 
 
}
.button {
  background-color: #cfaad6;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
      width: 24%;
  
}
</style>
	</head>
	
	<body
	 style=" background-color:#cfaad6;">
		
	
<div class="topnav">




  <a  href="/profile">Profile</a>
  <a href="/employee">Employee</a>
  <a class="active" href="/home">Customer</a>
  
  <a href="/reservation">Reservation</a>
  <a href="/menu">Food</a>
<a href="/logout">logut</a>
</div>


<div class="container"
style="
    padding: 2;
">
<center>
<div class="w3-container">
<h1 style="
    font-size: 60;
    text-align: center;
    font-style: italic;

  
">customers</h1>
<div style="
    padding-left: 100;
">
  <div th:each="customer: ${customer}">
  <div class="w3-panel w3-card w3-yellow" style="
    background-color: #d47b99;
     width: 1000;
">
    <p>
			
			<h2> customer name: <span th:text="${customer.name}"> </span>
			<h2>  national_id: <span th:text="${customer.numberid}"> </span>
			
			
			<hr>
			<h1 style="border:2px solid DodgerBlue;background-color: aliceblue;"> foods order for you</h1>
			
			<form th:action="'/subscribe/'+${customer.id}" method="delete">
						<input type="submit"class="button" value="chose a new food  order"/>
						
			</form>



			<div th:each="food: ${customer.foods}">
		<!--	<h2>food number in list: <span th:text="${food.id}"> </span> -->
			<h2>food name: <span th:text="${food.name}"> </span>
			<!-- <h2>food price: <span th:text="${food.price}"> </span> -->
		<!--	<h2>abstract: <span th:text="${food.abstracts}"> </span> -->
<form th:action="'/delete-orderfood-for-customer/'+${food.id}+'/customers/'+${customer.id}" onsubmit="myFunction()" method="delete">
						<input type="submit"class="button" value="delete order food"/>
						</form>	
						
				</div>
			
	
		<hr>
		<h1 style="border:2px solid DodgerBlue;background-color: aliceblue;">  reservation </h1>
		<div th:each="reservation: ${customer.reservations}">
		<!--	 <h2> reservation number: <span  th:text="${reservation.id}"> </span> -->
			<h2> room number:<span th:text="${reservation.room_number}"> </span>
			<h2> start_date:<span th:text="${reservation.start_date}"> </span>
			<h2>end_date: <span th:text="${reservation.end_date}"></span>
<form th:action="'/delete-reservation/'+${reservation.id}" onsubmit="myFunctions()" method="delete">
						<input type="submit" class="button" value="delete a reservation"/>	</form>	
			
			<hr>
			</p>
	
			</div>
		
			

	
		

<form th:action="'/reservation/'+${customer.id}"  method="post">
			
		
			<input type="submit" class="button" value="make a new reservation"/>
	</form>		
</div>
	</div> 	
		</div>
		</center>
		<script>
function myFunction() {
  alert("delete food order ");
}
function myFunctions() {
  alert(" delete a reservation ");
}
</script>
	</body>
</html>