<html>
<head>
	<link th:href="@{/css/styles.css}" rel="stylesheet">

	<title>Create a reservation</title>
	<style>
body {
  background-image: url('https://www.pngitem.com/pimgs/m/36-367727_vector-graphics-person-at-desk-cartoon-transparent-png.png');
background-size:cover;
background-repeat: no-repeat;
}
.button {
  background-color: lightcoral;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
          width: 50%;
  
}
</style>
</head>

<body>
<div class="topnav">




  <a  href="/profile">Profile</a>
  <a class="active" href="/employee">Employee</a>
  <a href="/home">Customer</a>
  
  <a href="/reservation">Reservation</a>
  <a href="/menu">Food</a>
<a href="/logout">logut</a>
</div>

	<form th:action="'/create-customer/'+${employee.id}" th:object="${customer}" onsubmit="myFunction()" method="post"
	style="
    margin-top: 100;
    padding: 100;
     margin: 100;
    width: 500;
            margin-left: 65%;
    
"> 
		 <label for="fname" style="  font-size: 30;"> NumberId:</label><br>


	 <input type="text"style="width: 50%;height: 40;" th:field="*{numberid}" /><br>
				 <label for="fname" style="  font-size: 30;"> name:</label><br>
		
		<input type="text"style="width: 50%;height: 40;" th:field="*{name}" /><br>		
	
			
			<input type="submit" class="button" value="create new customer"/>
	</form>
</center>
<script>
function myFunction() {
  alert(" ADD  CUSTOMER SUCCESSFUL");
}

</script>
</body>
</html>
