<html>
<title>food menu</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link th:href="@{/css/styles.css}" rel="stylesheet">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<style>
body {
  <!-- background-image: url('https://th.bing.com/th/id/R.4a45656f59886534f722bfd1ee2a3514?rik=J%2bIJGlkcAGaKbg&pid=ImgRaw&r=0" alt="hotel'); -->

}
</style>

<body style="
    background-color: black;
">

<!-- Start Content -->
<div id="home" class="w3-content"style="
    max-width: 100%;">

<div class="topnav">




  <a  href="/profile">Profile</a>
  <a href="/employee">Employee</a>
  <a href="/home">Customer</a>
  
  <a href="/reservation">Reservation</a>
  <a class="active" href="/menu">Food</a>
<a href="/logout">logut</a>
</div>

       <img src="https://th.bing.com/th/id/R.4a45656f59886534f722bfd1ee2a3514?rik=J%2bIJGlkcAGaKbg&pid=ImgRaw&r=0" alt="hotel" style="width:100%;" "height:100%;" >   
  
<!-- Header image -->
<div style="background-size:cover"
class="w3-display-container w3-grayscale-min">
<div class="w3-display-bottomleft">
  <span class="w3-tag w3-xlarge" style="
    margin: 10;"
  >Open from 10am to 12pm</span>
</div>

<div class="w3-display-middle w3-center"style=" margin-bottom: 111; height: 1000; align-items: center; ">
  <span class="w3-text-white" style="font-size:100px"></span>
  <p><a href="/food order" class="w3-button w3-xxlarge w3-black">Let me see the menu</a></p>
</div>
</div>

<!-- End Content -->
</div>

</body>
</html>
