<html>
<head>
	<link th:href="@{/css/styles.css}" rel="stylesheet">

	<title>Create an employee</title>
	<style>
body {
  background-image: url('https://th.bing.com/th/id/R.d0158bcabd60281f4fcf6b6b8afe3cf9?rik=mUnCufkilOW3tQ&pid=ImgRaw&r=0');
 background-size:cover;
background-repeat: no-repeat;
}

.button {
  background-color: #00a0e0;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
            width: 50%;
                        margin-left: 65%;
            
  
}
</style>
</head>

<body>
<div class="topnav">




  <a  href="#home">Profile</a>
  <a href="/employee">Employee</a>
  <a href="/home">Customer</a>
  
  <a href="/reservation">Reservation</a>
  <a class="active" href="/menu">Food</a>
<a href="/logout">logut</a>
</div>


<form action="#" th:action="@{/create_food}" th:object="${food}" onsubmit="myFunction()" method="post"	style="
    background-color: lightcoral;
    margin-top: 100;
    padding: 100;
     margin: 100;
    width: 500;
">
		 <label for="fname" style="  font-size: 30;"> name:</label><br>

	  <input type="text" th:field="*{name}" /> <br>
	  		 <label for="fname" style="  font-size: 30;"> price:</label><br>
	  
			 <input type="text" th:field="*{price}" />	<br>
					 <label for="fname" style="  font-size: 30;"> abstracts:</label><br>
					
	<input type="text" th:field="*{abstracts}" /> <br>
			
			<input type="submit" class="button" value="add new food to menu"/>
	</form>
 <script>
function myFunction() {
  alert(" ADD  ANEW FOOD TO MENU ");
}

</script>
</body>
</html>